$default-font-family: 'Inter', sans-serif;
$default-font-color: #000000;
$default-link-color: #8168F0;
$default-link-color-hover: #593cda;

$second-font-family: 'Open Sans', sans-serif;;
$second-link-color: #21A038;
$second-link-color-light: #68F096;

$default-bg: #ffffff;
$default-bg-hover: #efefef;
$default-shadow: #cccccc;
$default-border-color: #B3B7C5;

$container-width: 1150px;

$md: 880px;
$mmd: 540px;
$sm: 375px;