.order-block {
    &__info {
        display: flex;
        padding: 14px 40px 0;

        @include max-screen($mmd) {
            flex-wrap: wrap;
            padding: 14px 20px 0;
        }

        > div:first-child {
            padding: 0 49px 0 0;
        }

        > div {
            @include max-screen($mmd) {
                width: 100%;
                padding: 0 0 20px 0 !important;
            }
        }
    }

    &__info-title {
        font-size: 14px;
        font-weight: 500;
        color: #8A8C94;
    }

    &__info-value {
        font-size: 16px;
        font-weight: 500;
        color: $default-font-color;
    }
}