.header {
    &__geo-dropout {
        width: 140px;
        top: 23px;
        left: 0;

        @include max-screen($md) {
            top: 30px;
            right: -56%;
            left: auto;
        }
    }
    &__geo-dropout-item {
        a {
            display: block;
            font-size: 16px;
            padding: 10px 12px;

            &:hover {
                background: $default-bg-hover;
            }
        }
    }
}