.header {
    &__menu-bars {
        display: none;

        @include max-screen($md) {
            display: block;
            width: 20px;
            height: 20px;
            background: url('../img/icons/icons.svg#bars-solid') no-repeat center;
            background-size: 22px;

            &_active {
                background: url('../img/icons/icons.svg#bars-solid-active') no-repeat center;
                background-size: 22px;
            }
        }
    }
}